<!DOCTYPE html>
<html>

	{{> header}}

<body>
	<h1>ACIT 2520 Final Exam</h1>
	<h3>{{title}}</h3>
	<p></p>
	<a href={{addr}}>{{link}}</a>
	<p></p>
	<form method="post" action="/weatherResults">
		<input type="text" id = "searchBar" name="searchBar" />
	</form>
	<p></p>
	<h5>The weather is: {{weather}}
	<img src = {{img}}
</body>

</html>